<a href="{{ link }}" class="project-card">
  <div class="project-title-container">
    <i class="project-icon bi bi-journal-bookmark-fill"></i>
    <h3 class="project-title">{{ title }}</h3>
  </div>
  <p class="project-description">{{ description }}</p>
  <div class="project-language-container">
    <i class="language-icon {{ language_tag }} bi bi-circle-fill"></i>
    <p class="project-language">{{ language }}</p>
  </div>
</a>