<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | url }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ "/assets/css/style.min.css" | url }}">
    <script src="{{ "/assets/js/main.js" | url }}" defer></script>  
    <title>{{ title | default: "Page" }} | {{ global.sitename }}</title>
    <meta name="description" content="Sito ufficiale di Davide Tarpini">
    <meta name="author" content="Davide Tarpini">
    <meta name="robots" content="index, follow">
  </head>
    <body>
      <script>
        document.body.className = 'fade';
      </script>
      {{ content }}
    </body>
  </head>
</html>